body{
	height: 210vh;
	background: -webkit-linear-gradient(rgb(227, 247, 46),rgb(163, 192, 204));
	background: -o-linear-gradient(rgb(227, 247, 46),rgb(163, 192, 204));
	background: -moz-linear-gradient(rgb(227, 247, 46),rgb(163, 192, 204));
	background: linear-gradient(rgb(227, 247, 46),rgb(163, 192, 204));
}
h1 {text-align: center;	
	font-size: 50px;
	background: -webkit-linear-gradient(aqua,rgb(163, 192, 204));
	background: -o-linear-gradient(aqua,rgb(163, 192, 204));
	background: -moz-linear-gradient(aqua,rgb(163, 192, 204));
	background: linear-gradient(aqua,rgb(163, 192, 204));}

h2 {text-align: center;	
	font-size: 30px;
	background: red;}

.Slide{
	height: 75vh;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.Slide > button{
	width: 20px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #bb9af0;
}

.mySlides{
	display: none;
	width: 100%;
	height: 100%;
}

.service{
	height: 19vw;
	width: 80%;
	margin-left: auto;
    margin-right: auto;
}
.service > li {
	float: left;
	margin-left: 40px;
	list-style: none;
	margin-bottom: 20px;
}

.service > li > a > img{
	margin-top: 1vw;
    width: 15vw;
	height: 15vw;
	border: solid;
}
.service > li > div{
	text-align: center;
}

.staff{
	width: 80%;
	height: 95vh;
	margin-left: auto;
    margin-right: auto;
}
.staff >li{
	float: left;
	margin-left: 5px;
	list-style: none;
}
.staff > li > a >img {
	margin-top: 1vw;
    width: 15vw;
	height: 20vw;
	border: solid;
}
.staff >li >div {
	text-align: center;
}
.servicedetails {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}

.service > li:hover .servicedetails {
	display:block;
}

@media screen and (max-width:420px) {
    body{
		height: 96vh;
	}
	
	.Slide{
		height: 30vh;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.Slide > button{
		width: 20px;
		margin-left: 20px;
		margin-right: 20px;
		background-color: #bb9af0;
	}
	
	.mySlides{
		display: none;
		width: 100%;
		height: 100%;
	}
	
	.service{
		height: 14vw;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}
	.service > li {
		margin-left: 23px;
		font-size: 12px;
	}
	
	.service > li > a > img{
		margin-top: 1vw;
		width: 12vw;
		height: 10vw;
	}
	
	.staff{
		width: 80%;
		height: 30vh;
	}

	.staff > li > a >img {
		margin-top: 1vw;
		width: 10vw;
		height: 15vw;
	}
	.servicedetails {
	min-width: 50px;
	}
	
}