.done {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
}

.cancel input{
    height: 20px;
    width: 80%;
    background-color: red;
    border: none;
}

div form {
    display: inline;
}

.service form button img, .staff form button img, .seat img{
    height: 30vw;
    width: 30vw;
}

div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div button{
    background-color: white;
    border: wheat;
    margin-bottom: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

div button:hover{
    border: solid;
}
