{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{
    url_for('static', filename='css/history.css')}}">
{% endblock %}
{% block body %}
<h1>History</h1>
<div class="history">
<p>search:<input type="text" id="search" onkeyup="search()"></p>
<table>
    <tr>
        <th style="width:20%;">Service</th>
        <th style="width:20%;">Staff</th>
        <th style="width:20%;">Date&Time</th>
        <th style="width:20%;">Seat</th>
        <th style="width:20%;">Score</th>
        <th style="width:20%;">Cancel</th>
        <th style="width:20%">change score</th>
    </tr>
    <tbody id="time_table">
    {% for i in table %}
    <tr>
        <td>{{ i[0] }}</td>
        <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>
        <td>{{ i[3] }}</td>
        <td>{{ i[4] }}</td>
        <td>
        {% if today < i[2] %}
        <form action="/historycancel" method="POST"><button type="submit" value="{{(i[2],i[3])}}" name="cancel">cancel</button></form>
        {% endif %}
        </td>
        <td>
        {% if today >= i[2] %}
            <button class="changescore" onclick="showscoring( {{ loop.index-1 }} )">change score</button>
        {% endif %}
        </td>
    </tr>
    <div class="scoring">
        <button class="closescoring" onclick="closescoring({{ loop.index-1 }})">X</button>
        <form action="/scoring_mark" method="POST">
            <h1>In this service between 1-5 marks how many marks you are satisfy with the staff who served you (5 is the best)</h1><br>
            <p>service: {{ i[0] }}</p><br>
            <p>staff: {{ i[1] }}</p><br>
            <p>date&time : {{ i[2] }}</p><br>
            <p>seat: {{i[3]}}</p><br>
            <input name="service" type="hidden" value="{{ i[0] }}">
            <input name="staff" type="hidden" value="{{ i[1] }}"> 
            <input name="date" type="hidden" value="{{ i[2] }}">
            <input name="score" type="radio" value=1>1 mark<br>
            <input name="score" type="radio" value=2>2 marks<br>
            <input name="score" type="radio" value=3>3 marks<br>
            <input name="score" type="radio" value=4>4 marks<br>
            <input name="score" type="radio" value=5>5 marks<br>
            <input type="submit" value="Scoring">
        </form>
    </div>
    {% endfor %}
    </tbody>
</table>
</div>
<script>
    var x = document.getElementById("time_table");
    var z = x.getElementsByTagName("tr");
    var y =document.getElementById("search");
    var w = document.getElementsByClassName("scoring");
    function search(){
        for(i = 0; i < z.length; i++){
            if(z[i].textContent.includes(y.value)!=true){
                z[i].style.display="none";
                console.log(z[i].textContent.includes(y.value))
            }
            else{
                z[i].style.display="table-row";
            }
        }
    }
    function showscoring(n){
            w[n].style.display = "block"
        }
    function closescoring(n){
        w[n].style.display = "none"
    }
    
    
</script>
{% endblock %}