{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{
    url_for('static', filename='css/history.css')}}">
{% endblock %}
{% block body %}
<h1>History</h1>
<div class="history">
<p>search:<input type="text" id="search" onkeyup="search()"></p>
<table>
    <tr>
        <th style="width:20%;">Service</th>
        <th style="width:20%;">Staff</th>
        <th style="width:20%;">Date&Time</th>
        <th style="width:20%;">Seat</th>
        <th style="width:20%;">Score</th>
        <th style="width:20%;">Cancel</th>
    </tr>
    <tbody id="time_table">
    {% for i in table %}
    <tr>
        <td>{{ i[0] }}</td>
        <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>
        <td>{{ i[3] }}</td>
        <td>{{ i[4] }}</td>
        <td>
        {% if today < i[2] %}
        <form action="/historycancel" method="POST"><button type="submit" value="{{(i[2],i[3])}}" name="cancel">cancel</button></form>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<script>
    var x = document.getElementById("time_table");
    var z = x.getElementsByTagName("tr");
    var y =document.getElementById("search");
    function search(){
        for(i = 0; i < z.length; i++){
            if(z[i].textContent.includes(y.value)!=true){
                z[i].style.display="none";
                console.log(z[i].textContent.includes(y.value))
            }
            else{
                z[i].style.display="table-row";
            }
        }
    }
    
    
</script>
{% endblock %}