{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{
    url_for('static', filename='css/membership.css')}}">
{% endblock %}
{% block body %}
<h1>Membership</h1>
<div class="change">
	<p>change Form</p>
<button onclick="plusDivs(-1)">&#10094;</button>
<button onclick="plusDivs(1)">&#10095;</button>
</div>
<div class="membership">
	<h2>Registor For nomal member</h2>
	<br>
    <form action="/nomalmembership" method="POST">
        <input type="text" name="member_name" placeholder="username:">
        <input type="password" name="password" placeholder="password:">
		<input type="password" name="confirmpassword" placeholder="confirm password:">
		<input type="email" name="email" placeholder="email:">
        <button type="submit">Registor</button>
    </form>
	<p>{{message}}</p>
	<p>{{mes}}</p>
</div>
<div class="membership">
	<form action="/VIPmembership" method="POST">
		<h2>Upgrade From nomal member to VIP member</h2>
        <input type="text" name="member_ID" placeholder="userID:">
        <input type="password" name="password" placeholder="password:">
		<input type="password" name="confirmpassword" placeholder="confirm password:">
		<input type="email" name="email" placeholder="email:">
        <button type="submit">Upgrade</button>
	</form>
	<p>{{message}}</p>
    <p>{{mes}}</p>
</div>
<script>
		var slideIndex = 1;
		showDivs(slideIndex);
		function plusDivs(n) {
			showDivs(slideIndex += n);
		}
		function showDivs(n) {
			var i;
			var x = document.getElementsByClassName("membership");
			console.log(x, n)
			if (n > x.length) {slideIndex = 1}
			if (n < 1) {slideIndex = x.length} ;
			for (i = 0; i < x.length; i++) {
				x[i].style.display = "none";
			}
			x[slideIndex-1].style.display = "block";
		}

</script>
{% endblock %}