{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{
    url_for('static', filename='css/Profile.css')}}">
{% endblock %}
{% block body %}
<h1>Profile</h1>
<div class="profile">
    <p class="message">{{message}}</p><br>
    <p>user ID:{{member[0]}}</p><br>
    <p>username:{{member[1]}}</p><br>
    <button class="but" onclick="showchangename()">change username</button><br>
    <button class="but" onclick="showchangepassword()">change password</button><br>
   <p>membership:{{member[2]}}</p><br>
   <p><img src="{{url_for('static', filename='img/profile'+ member[0]|string +'.'+ img|string )}}" alt="member[0]"></p>
   <button class="but "onclick="showchangeimg()">change image</button><br>
   <div class="changename">
   <button class="cancel" onclick="closename()">X</button>
    <form action="/changemember_name" method="POST">
        <p>change name</p>
        <input name="username" placeholder="new username" type="text">
        <input class="change" type="submit" value="change">
    </form>
    </div>
    <br>
    <div class="changepassword">
    <button class="cancel" onclick="closepassword()">X</button>
    <form action="/changemember_password" method="POST">
        <p>change password</p>
        <input name="old_password" placeholder="old password" type="password">
        <input name="new_password" placeholder="new password" type="password">
        <input class="change" type="submit" value="change">
    </form>
    </div>
    <br>
    <div class="changeimg">
    <button class="cancel" onclick="closeimg()">X</button>
    <form action="/changeprofile_img" method="POST" enctype="multipart/form-data">
        <p>change image</p>
        <input name="image" type="file">
        <input class="change"type="submit" value="change">
    </form>
    </div>
</div>
<script>
    var x = document.getElementsByClassName("changename");
    var y = document.getElementsByClassName("changeimg");
    var z = document.getElementsByClassName("changepassword");
    function showchangename(){
        x[0].style.display = "block";
        y[0].style.display = "none";
        z[0].style.display = "none";
    }
    function showchangeimg(){
        y[0].style.display = "block";
        x[0].style.display = "none";
        z[0].style.display = "none";
    }
    function showchangepassword(){
        z[0].style.display = "block";
        x[0].style.display = "none";
        y[0].style.display = "none";
    }
    function closename(){
        x[0].style.display = "none";
    }
    function closeimg(){
        y[0].style.display = "none";
    }
    function closepassword(){
        z[0].style.display = "none";
    }
</script>
{% endblock %}